<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>QSViscosity</string>
	<key>CFBundleIdentifier</key>
	<string>com.skurfer.Quicksilver.QSViscosity</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Viscosity Module</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>25</string>
	<key>NSPrincipalClass</key>
	<string>QSViscosity</string>
	<key>QSActions</key>
	<dict>
		<key>QSViscosityConnect</key>
		<dict>
			<key>actionClass</key>
			<string>QSAppleScriptActions</string>
			<key>actionHandler</key>
			<string>viscosity_connect</string>
			<key>actionScript</key>
			<string>Viscosity.scpt</string>
			<key>directTypes</key>
			<array>
				<string>QSViscosityType</string>
			</array>
			<key>icon</key>
			<string>com.viscosityvpn.Viscosity</string>
			<key>name</key>
			<string>Connect</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Rob McBroom</string>
		<key>categories</key>
		<array>
			<string>Applications</string>
			<string>System</string>
		</array>
		<key>description</key>
		<string>Access VPN connections in Viscosity</string>
		<key>icon</key>
		<string>com.viscosityvpn.Viscosity</string>
		<key>qsversion</key>
		<string>29CC</string>
		<key>relatedBundles </key>
		<array/>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetViscosity</string>
			<key>name</key>
			<string>Viscosity Connections</string>
			<key>source</key>
			<string>QSViscositySource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSViscosityAction</key>
			<string>QSViscosityAction</string>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.viscosityvpn.Viscosity</key>
			<string>QSViscositySource</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>QSViscosityType</key>
			<string>QSViscositySource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSViscositySource</key>
			<string>QSViscositySource</string>
		</dict>
		<key>QSPreferencePanes</key>
		<dict>
			<key>QSViscosity_PrefPane</key>
			<dict>
				<key>class</key>
				<string>QSPreferencePane</string>
				<key>description</key>
				<string>Preferences</string>
				<key>icon</key>
				<string></string>
				<key>name</key>
				<string>QSViscosity</string>
			</dict>
		</dict>
	</dict>
	<key>QSRequirementsTemplate</key>
	<dict>
		<key>bundlesTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
		<key>feature</key>
		<integer>0</integer>
		<key>launchLoad</key>
		<false/>
		<key>pathsTemplate</key>
		<array>
			<string>/path/to/something</string>
		</array>
		<key>pluginsTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
