<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Viscosity Module</string>
	<key>CFBundleIdentifier</key>
	<string>com.skurfer.Quicksilver.QSViscosity</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Viscosity Module</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>43</string>
	<key>NSPrincipalClass</key>
	<string>QSViscosity</string>
	<key>QSActions</key>
	<dict>
		<key>QSViscosityConnect</key>
		<dict>
			<key>actionClass</key>
			<string>QSAppleScriptActions</string>
			<key>actionHandler</key>
			<string>viscosity_connect</string>
			<key>actionScript</key>
			<string>Viscosity.scpt</string>
			<key>directTypes</key>
			<array>
				<string>QSViscosityType</string>
			</array>
			<key>icon</key>
			<string>com.viscosityvpn.Viscosity</string>
			<key>name</key>
			<string>Connect to VPN</string>
			<key>precedence</key>
			<string>2</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>QSViscosityDisconnect</key>
		<dict>
			<key>actionClass</key>
			<string>QSAppleScriptActions</string>
			<key>actionHandler</key>
			<string>viscosity_disconnect</string>
			<key>actionScript</key>
			<string>Viscosity.scpt</string>
			<key>directTypes</key>
			<array>
				<string>QSViscosityType</string>
			</array>
			<key>icon</key>
			<string>com.viscosityvpn.Viscosity</string>
			<key>name</key>
			<string>Disconnect from VPN</string>
			<key>precedence</key>
			<string>2</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Rob McBroom</string>
		<key>categories</key>
		<array>
			<string>Applications</string>
			<string>System</string>
		</array>
		<key>description</key>
		<string>Access VPN connections in Viscosity</string>
		<key>extendedDescription</key>
		<string>&lt;h2 id=&quot;viscosity_plug_in_for_quicksilver&quot;&gt;Viscosity plug-in for Quicksilver&lt;/h2&gt;

&lt;p&gt;It&apos;s pretty simple. The VPN connections you&apos;ve defined in Viscosity get added to the catalog. You can either search for them directly or right arrow into the Viscosity application.&lt;/p&gt;

&lt;p&gt;There are two actions available for a Viscosity connection:&lt;/p&gt;

&lt;ul&gt;
&lt;li&gt;Connect to VPN&lt;/li&gt;
&lt;li&gt;Disconnect from VPN&lt;/li&gt;
&lt;/ul&gt;

&lt;p&gt;NOTE: If Viscosity isn&apos;t running, these actions will start it. This is generally what you want, but be aware that if you&apos;ve configured certain VPNs to connect on launch, they will be connected regardless of what you are trying to do via Quicksilver.&lt;/p&gt;</string>
		<key>icon</key>
		<string>com.viscosityvpn.Viscosity</string>
		<key>qsversion</key>
		<string>29CC</string>
		<key>relatedBundles </key>
		<array/>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetViscosityConnections</string>
			<key>enabled</key>
			<true/>
			<key>icon</key>
			<string>com.viscosityvpn.Viscosity</string>
			<key>name</key>
			<string>Viscosity Connections</string>
			<key>source</key>
			<string>QSViscositySource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSViscosityAction</key>
			<string>QSViscosityAction</string>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.viscosityvpn.Viscosity</key>
			<string>QSViscositySource</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>QSViscosityType</key>
			<string>QSViscositySource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSViscositySource</key>
			<string>QSViscositySource</string>
		</dict>
		<key>QSPreferencePanesTemplate</key>
		<dict>
			<key>QSViscosity_PrefPane</key>
			<dict>
				<key>class</key>
				<string>QSPreferencePane</string>
				<key>description</key>
				<string>Preferences</string>
				<key>icon</key>
				<string></string>
				<key>name</key>
				<string>QSViscosity</string>
			</dict>
		</dict>
	</dict>
	<key>QSRequirements</key>
	<dict>
		<key>bundles</key>
		<array>
			<dict>
				<key>id</key>
				<string>com.viscosityvpn.Viscosity</string>
				<key>name</key>
				<string>Viscosity</string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
		<key>feature</key>
		<integer>0</integer>
		<key>launchLoad</key>
		<false/>
		<key>pathsTemplate</key>
		<array>
			<string>/path/to/something</string>
		</array>
		<key>pluginsTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
